:root {
  --color-primary: #007FFF;
  --color-primaryy: #FF5851;
  --color-flexcore: #007FFF;
  --color-amazon: #FE9901;
  --color-code: #8338ec;
}

@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Light.eot);
  src: url(./fonts/apercu/Apercu-Light.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Light.woff2) format("woff2"), url(./fonts/apercu/Apercu-Light.woff) format("woff"),
    url(./fonts/apercu/Apercu-Light.ttf) format("truetype"), url(./fonts/apercu/Apercu-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-LightItalic.eot);
  src: url(./fonts/apercu/Apercu-LightItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-LightItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-LightItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-LightItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-LightItalic.svg) format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Regular.eot);
  src: url(./fonts/apercu/Apercu-Regular.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Regular.woff2) format("woff2"), url(./fonts/apercu/Apercu-Regular.woff) format("woff"),
    url(./fonts/apercu/Apercu-Regular.ttf) format("truetype"), url(./fonts/apercu/Apercu-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Italic.eot);
  src: url(./fonts/apercu/Apercu-Italic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Italic.woff2) format("woff2"), url(./fonts/apercu/Apercu-Italic.woff) format("woff"),
    url(./fonts/apercu/Apercu-Italic.ttf) format("truetype"), url(./fonts/apercu/Apercu-Italic.svg) format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Medium.eot);
  src: url(./fonts/apercu/Apercu-Medium.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Medium.woff2) format("woff2"), url(./fonts/apercu/Apercu-Medium.woff) format("woff"),
    url(./fonts/apercu/Apercu-Medium.ttf) format("truetype"), url(./fonts/apercu/Apercu-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-MediumItalic.eot);
  src: url(./fonts/apercu/Apercu-MediumItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-MediumItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-MediumItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-MediumItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-MediumItalic.svg) format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Bold.eot);
  src: url(./fonts/apercu/Apercu-Bold.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Bold.woff2) format("woff2"), url(./fonts/apercu/Apercu-Bold.woff) format("woff"),
    url(./fonts/apercu/Apercu-Bold.ttf) format("truetype"), url(./fonts/apercu/Apercu-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-BoldItalic.eot);
  src: url(./fonts/apercu/Apercu-BoldItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-BoldItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-BoldItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-BoldItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-BoldItalic.svg) format("svg");
  font-weight: 700;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}

body, html {
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
  overflow-x: hidden;
}

strong {
  font-weight: 800;
}

main {
  min-height: 100vh;
  width: min(100% - 1.5rem, 900px);
  margin: auto;
  padding-top: 100px;
  margin-top: 100px;
}

header {
  margin: auto;
  position: relative;
}

header h1,
header h2 {
  font-size: 0.75em;
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  font-weight: 800;
  position: absolute;
  text-transform: uppercase;
  opacity: 0;
}

header h1 {
  top: -1.5em;
  animation: fade-in 400ms ease-in-out 2.5s 1 normal forwards;
}

header h2 {
  bottom: 0.25em;
  right: 0;
  opacity: 0;
  animation: fade-in 400ms ease-in-out 2.5s 1 normal forwards;
}

#color-box {
  width: calc(50vw - 40px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
  background-color: var(--color-primary);
  position: absolute;
}

#color-box.color-box-full {
  animation: full-screen 750ms ease-in-out 0s 1 normal forwards;
}
#color-box.color-box-semi {
  animation: semi-screen 750ms ease-in-out 0s 1 normal forwards;
}

.splash-animation {
  animation: splash 2.75s ease-in-out 0s 1 normal forwards;
}

@keyframes semi-screen {
from {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
}
to {
  width: calc(50vw - 40px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
}
}

@keyframes full-screen {
from {
  width: calc(50vw - 40px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
}
to {
  width: calc(100vw - 80px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
}
}

#color-box .arrow {
  animation:
    fade-in 400ms ease-in-out 2.5s 1 normal forwards,
    bounce 2s ease-in-out 2.5s infinite normal forwards;
  font-weight: 300;
  font-size: 1.25em;
  color: white;
  position: absolute;
  bottom: 5px;
  right: 8px;
  opacity: 0;
  z-index: 10;
  text-decoration: none;
}

#color-box .scroll {
  animation: fade-in 400ms ease-in-out 2.5s 1 normal forwards;
  font-weight: 300;
  font-size: 0.8em;
  color: white;
  position: absolute;
  bottom: calc(3em + 15px);
  right: 0;
  opacity: 0;
  z-index: 10;
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

#screen-spacer {
  opacity: 0;
}

@keyframes splash {
0% {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
50% {
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
}
100% {
  width: calc(50vw - 40px);
  height: calc(100vh - 80px);
  left: 40px;
  top: 40px;
}
}

.fade-in {
  animation: fade-in 500ms ease-in-out 150ms 1 normal forwards;
}

.fade-out {
  animation: fade-out 500ms ease-in-out 0ms 1 normal forwards;
}

@keyframes fade-in {
from {
  opacity: 0;
}
to {
  opacity: 1;
}
}
@keyframes fade-out {
from {
  opacity: 1;
}
to {
  opacity: 0;
}
}

@keyframes bounce {
0%   { transform: translateY(0); }
50%  { transform: translateY(-10px); }
100% { transform: translateY(0); }
}

.about-web {
  font-weight: 300;
  width: calc(35vw);
  height: calc(100vh - 80px);
  color: white;
  margin: 40px calc(40px + 15vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5em;
  z-index: 15;
}
.about__small {
  font-size: clamp(1rem, 0.912rem + 0.2817vw, 1.25rem);
}
.about__small a {
  color: white;
  font-size: clamp(0.9rem, 0.9rem + 0.28vw, 1.2rem);
}
.about__medium {
  font-size: clamp(1.125rem, 1.037rem + 0.2817vw, 1.375rem);
}

section {
  margin-bottom: 200px;
  display: flex;
}
.section__title {
  width: 240px;
  text-align: right;
  margin-right: 50px;
}
.section__title h2 {
  background-color: var(--color-primary);
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  padding: 2px 1em;
  display: inline-block;
  border-radius: 1em;
}
.section__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 1;
  justify-content: space-between;
  font-size: clamp(1.125rem, 1.05rem + 0.375vw, 1.25rem);
}
.section__body__item {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0 2rem 2rem 2rem;
  min-width: 100px;
}
.section__body__item > p:not(:first-child) {
  margin-top: 1em;
}
.body__project:not(:first-child) {
  margin-top: 3em;
}
.item__title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.item__list,
.item__technologies {
  font-size: clamp(0.75rem, 0.725rem + 0.25vw, 1rem);
  list-style-type: none;
  padding: 0;
  letter-spacing: 0.02rem;
}
.item__technologies > li {
  display: inline-block;
  font-style: italic;
  font-weight: 500;
  margin-right: 1em;
  text-decoration-thickness: 3px;
}
.item__project {
  display: flex;
  flex-direction: column;
}
.item__actions {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}
.btn-live,
.btn-code {
  background-color: white;
  font-weight: 600;
  font-size: clamp(0.875rem, 0.825rem + 0.25vw, 1.125rem);
  padding: 0.35rem 1rem;
  border: none;
  border-radius: 0.25rem;
  transition-duration: 100ms;
  text-decoration: none;
}
.btn-code:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
    padding: 0 1rem;
    margin-bottom: 50px;
  }
  .section__body {
    margin-top: 10px;
  }
  .section__body__item {
    padding: 1rem 1rem;
  }
  .section__title {
    text-align: left;
  }
}

@media only screen and (max-width: 400px) {
  .section__body {
    justify-content: flex-start;
  }
}

.join {
  display: inline-block;
}

.partial-width {
  width: 80%;
  font-size: 0.9em;
}

.wave {
  margin-left: 0.5em;
  animation-name: wave-animation;
  animation-duration: 2.75s;
  animation-iteration-count: infinite;
  /* Pivot around the bottom-left palm */
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
0% { transform: rotate( 0.0deg) }
15% { transform: rotate(14.0deg) }
30% { transform: rotate(-8.0deg) }
40% { transform: rotate(14.0deg) }
55% { transform: rotate(-4.0deg) }
70% { transform: rotate(10.0deg) }
85% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

svg {
  animation: splash-svg 2.75s ease-in-out 0s 1 normal forwards;
  position: absolute;
  margin-left: 25vw;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  z-index: 15;
  font-size: clamp(8.5rem, 7.5rem + 2.5vw, 9rem);
}
.splash-text {
  animation: stroke 2.75s linear 0s 1 normal forwards;
}
svg #dot {
  text-transform: uppercase;
  animation: strokeDot 1.55s linear 1s 1 normal forwards;
  font-size: clamp(8.5rem, 7.5rem + 2.5vw, 9rem);
  fill: rgba(0,0,0,0);
  stroke: rgba(0,0,0,0);
  stroke-width: 0;
}

@keyframes splash-svg {
0% {
  margin-left: 0;
}
50% {
  margin-left: 0;
}
100% {
  margin-left: 25vw;
}
}

.slide-out {
  animation: slide-out 750ms ease-in-out 0s 1 normal forwards;
}
.slide-in {
  animation: slide-in 750ms ease-in-out 0s 1 normal forwards;
}

@keyframes slide-out {
from {
  margin-left: 25vw;
}
to {
  margin-left: 30vw;
}
}

@keyframes slide-in {
from {
  margin-left: 30vw;
}
to {
  margin-left: 25vw;
}
}

.transform-white {
  animation: transform-white 750ms ease-in-out 0s 1 normal forwards;
}
.transform-black {
  animation: transform-black 750ms ease-in-out 0s 1 normal forwards;
}

@keyframes transform-white {
from {
  fill: black;
  stroke: black;
}
to {
  fill: white;
  stroke: white;
}
}

@keyframes transform-black {
0% {
  fill: white;
  stroke: white;
}
25% {
  fill: white;
  stroke: white;
}
100% {
  fill: black;
  stroke: black;
}
}

@keyframes stroke {
0%   { fill: rgba(0,0,0,0); stroke: rgba(0,0,0,0); stroke-dashoffset: 20%; stroke-dasharray: 0 40%; stroke-width: 0; }
10%  { stroke: white; stroke-width: 2; }
80%  { stroke: white; }
90%  { fill: rgba(0,0,0,0); stroke: black; stroke-width: 3; }
100% { fill: black; stroke: black; stroke-dashoffset: 0%; stroke-dasharray: 70% 0; }
}
@keyframes strokeDot {
0%   { fill: rgba(0,0,0,0); stroke: rgba(0,0,0,0); stroke-dashoffset: 20%; stroke-dasharray: 0 40%; stroke-width: 0; }
10%  { stroke: white; stroke-width: 2; }
80%  { stroke: white; }
90%  { fill: rgba(0,0,0,0); stroke: var(--color-primary); stroke-width: 3; }
100% { fill: var(--color-primary); stroke: var(--color-primary); stroke-dashoffset: 0%; stroke-width: 3; stroke-dasharray: 70% 0; }
}

.text-flexcore { color: var(--color-flexcore); }
.bg-flexcore { background-color: var(--color-flexcore); }
.border-flexcore { border: 2px solid var(--color-flexcore); }
.border-flexcore:hover { background-color: var(--color-flexcore); color: white; }
.underline-flexcore { text-decoration: var(--color-flexcore) underline; }

.text-amazon { color: var(--color-amazon); }
.bg-amazon { background-color: var(--color-amazon); }
.border-amazon { border: 2px solid var(--color-amazon); }
.border-amazon:hover { background-color: var(--color-amazon); color: white; }
.underline-amazon { text-decoration: var(--color-amazon) underline; }

.text-code { color: var(--color-code); }
.bg-code { background-color: var(--color-code); }
.border-code { border: 2px solid var(--color-code); }
.border-code:hover { background-color: var(--color-code); color: white; }
.underline-code { text-decoration: var(--color-code) underline; }
