@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Light.eot);
  src: url(./fonts/apercu/Apercu-Light.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Light.woff2) format("woff2"), url(./fonts/apercu/Apercu-Light.woff) format("woff"),
    url(./fonts/apercu/Apercu-Light.ttf) format("truetype"), url(./fonts/apercu/Apercu-Light.svg) format("svg");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-LightItalic.eot);
  src: url(./fonts/apercu/Apercu-LightItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-LightItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-LightItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-LightItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-LightItalic.svg) format("svg");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Regular.eot);
  src: url(./fonts/apercu/Apercu-Regular.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Regular.woff2) format("woff2"), url(./fonts/apercu/Apercu-Regular.woff) format("woff"),
    url(./fonts/apercu/Apercu-Regular.ttf) format("truetype"), url(./fonts/apercu/Apercu-Regular.svg) format("svg");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Italic.eot);
  src: url(./fonts/apercu/Apercu-Italic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Italic.woff2) format("woff2"), url(./fonts/apercu/Apercu-Italic.woff) format("woff"),
    url(./fonts/apercu/Apercu-Italic.ttf) format("truetype"), url(./fonts/apercu/Apercu-Italic.svg) format("svg");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Medium.eot);
  src: url(./fonts/apercu/Apercu-Medium.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Medium.woff2) format("woff2"), url(./fonts/apercu/Apercu-Medium.woff) format("woff"),
    url(./fonts/apercu/Apercu-Medium.ttf) format("truetype"), url(./fonts/apercu/Apercu-Medium.svg) format("svg");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-MediumItalic.eot);
  src: url(./fonts/apercu/Apercu-MediumItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-MediumItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-MediumItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-MediumItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-MediumItalic.svg) format("svg");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-Bold.eot);
  src: url(./fonts/apercu/Apercu-Bold.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-Bold.woff2) format("woff2"), url(./fonts/apercu/Apercu-Bold.woff) format("woff"),
    url(./fonts/apercu/Apercu-Bold.ttf) format("truetype"), url(./fonts/apercu/Apercu-Bold.svg) format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Apercu;
  src: url(./fonts/apercu/Apercu-BoldItalic.eot);
  src: url(./fonts/apercu/Apercu-BoldItalic.eot%3F) format("embedded-opentype"), url(./fonts/apercu/Apercu-BoldItalic.woff2) format("woff2"), url(./fonts/apercu/Apercu-BoldItalic.woff) format("woff"),
    url(./fonts/apercu/Apercu-BoldItalic.ttf) format("truetype"), url(./fonts/apercu/Apercu-BoldItalic.svg) format("svg");
  font-weight: 700;
  font-style: italic;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

::-moz-selection {
  background: #007FFF;
  color: white;
}
::selection {
  background: #007FFF;
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #E5E5E5;
  border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover {
  background: #CCCCCC;
}

* {
  margin: 0;
  padding: 0;
}

body, html {
  font-family: Apercu, "Source Sans Pro", system, system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  width: 100%;
}

main {
  width: min(100% - 1.5rem, 850px);
  margin: auto;
}

header {
  width: min(100% - 1.5rem, 1200px);
  margin: auto;
}

section {
  margin-bottom: 200px;
  display: flex;
}
.section__title {
  width: 200px;
  color: #007FFF;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: right;
  letter-spacing: 0.05rem;
  margin-right: 75px;
}
.section__body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section__body__item {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 0 2rem 2rem 2rem;
  min-width: 100px;
}
.item__title {
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}
.item__list {
  font-size: 0.9rem;
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
    padding: 0 1rem;
  }
  .section__body {
    margin-top: 10px;
    padding-left: 30px;
  }
  .section__body__item {
    padding: 1rem 2rem;
  }
  .section__title {
    text-align: left;
  }
}

header {
  font-weight: 300;
  min-height: 100vh;
  padding: 100px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.header__hello {
  font-size: 2.5rem;
}
.header__tagline {
  width: min(40rem, 100%);
  font-size: 2.25rem;
}
.header__contact,
.header__email {
  font-size: 1.2rem;
}
.header__email {
  color: black;
  position: relative;
  padding: 0 2px;
  text-decoration: none;
}
.header__email:hover {
  color: white;
  transition-delay: 50ms;
  transition-duration: 200ms;
}
.header__email::before {
  content: '';
  background-color: #007FFFAA;
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  z-index: -1;
  transition: all 200ms ease-in-out;
}
.header__email:hover::before {
  background-color: #007FFF;
  height: calc(100% + 2px);
}

.wave {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  /* Pivot around the bottom-left palm */
  transform-origin: 70% 70%;
  display: inline-block;
}

@keyframes wave-animation {
0% { transform: rotate( 0.0deg) }
10% { transform: rotate(14.0deg) }
20% { transform: rotate(-8.0deg) }
30% { transform: rotate(14.0deg) }
40% { transform: rotate(-4.0deg) }
50% { transform: rotate(10.0deg) }
60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}
